<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Message</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

<script>

function myFunction() {
  var copyText = document.getElementById("linkwithid");

  copyText.select();
  copyText.setSelectionRange(0, 99999); 

  document.execCommand("copy");

  
  alert("Link Copied ! Share it with your friends");
}

function usercopy() {
  var copyText = document.getElementById("linkuser");

  window.location.href = copyText.value;

  copyText.select();
  copyText.setSelectionRange(0, 99999); 

  document.execCommand("copy");

  
  //alert("Link copied ! Use this to view messages in future ");
}



        function facebook_share(URLFORM) {
            
            var linkShare = URLFORM;
            window.open(`https://www.addtoany.com/add_to/facebook?linkurl=${ linkShare }`, "_blank",
                "noreferrer");
        }

        

        function whatsapp_share(URLFORM) {
            
            window.open("whatsapp://send?text=%E2%9C%89%EF%B8%8F%F0%9F%92%AC%F0%9F%92%8C%0D%0ASend+Secret+Message+to+%2AMe%2A%0D%0A%F0%9F%A4%A9+I+will+never+know+who+sent+me+which+message+%F0%9F%A4%94%0D%0AIt%27s+fun%2C+Try+here+%F0%9F%91%89+"+URLFORM, "_blank");
        }
    


</script>

  <body >
  

    <nav class="navbar navbar-expand-lg navbar-light  headbar ">
        <div class="container-md headbar">
          <a class="navbar-brand" href="#" style="color: white;font-weight: bolder;">Secret Message</a>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link  loginbtn" aria-current="page" href="#" style="">Login</a>
  </li>
  <li class="nav-item">
    <a class=" btn " href="#" ></a>
  </li>
 
</ul>


        </div>
      </nav>

      <br>
      <div class="container-md" style="box-shadow:3px 3px 5px 6px #ccc;width:22rem;">
       <div style="text-align: center;">
        <br>
        <h2 style="color:#647af5;">Secret Message </h2>
        <br>
        <p>Share this link with your friends and collect exciting Anonymous Messages
        </p>

        <div class="d-grid gap-2 ">
          <button type="button" onclick="usercopy()" class="btn  btn-lg btn-block lessfont " style="background-color: darkorange;"><i class="fa fa-home"></i>View your message from friends</button>
          <br>
          </div>
    </div>
    
    <div >
        <form>
            <div class="mb-3">
              <input type="text" class="form-control" id="linkwithid" aria-describedby="emailHelp"
              value="<%=URLFORM%>">
             
            </div>
            <div class="d-grid gap-2 ">
                <button type="button" onclick="myFunction()" class="btn  btn-lg btn-block lessfont Copy"><i class="fa fa-copy"></i>Click to Copy</button>
                <button type="button" onclick="whatsapp_share('<%=URLFORM%>')" class="btn  btn-lg btn-block lessfont Whatsapp"><i class="fa fa-whatsapp"></i>Share to Whatsapp</button>
                <button type="button" onclick="facebook_share('<%=URLFORM%>')" class="btn btn-primary btn-lg btn-block lessfont"><i class="fa fa-facebook"></i>Share to facebook</button>

                </div>
<br>
          </form>
    </div>
    <div style="text-align: center;">
        <a type="button" href="#messages" class="btn btn-secondary btn-lg " style="font-size: 17px;padding-left: 80px;padding-right: 80px;">
          Go to Messages</a>




    </div>

    <div>
      <br>
<p>Use this Link to view your messages later</p>
      <input type="text" class="form-control" id="linkuser" aria-describedby="emailHelp"
      value="<%=URLFORM2%>">
<br>
      <button class="cpybtn" onclick="usercopy()">Click to Copy Above Link</button>
    </div>
    <br>      </div>
      <br><br><br>


      <div class="container-md" id="messages" style="box-shadow:3px 3px 5px 6px #ccc;width:22rem;    word-wrap: break-word;
      ">

<h3>Anonymous Messages</h3><br>
<% messagedata.forEach(function(message) { %>
         
        <div class="list-group">

               
              

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">    </h5>
                <small><%= message.Date.slice(4,15) %> <%= time %></small>
              </div>
              <span class="mb-1">
                <%= message.a %>
              </span>
              
            </a>

            
<br>                      </div>

<% }); %>
      </div>
      
      
      <div class="container-fluid">
<br>
<h6 style="text-align: center;">@2021 Copyrights reserved</h6>

      </div>
</body>
<style>
   
    .lessfont{
        font-size: 15px;
    }

    .lessfont i{
        float:left;
    
        font-size: 20px;
    }

    .Whatsapp{
      background-color:darkgreen;
      color:white;
    }
    .Whatsapp:hover{
      border:1px solid darkgreen;
      background-color:white;
      color:darkgreen;
    }
    .Copy{
      background-color: brown;
      color:white;
    }
    .Copy:hover{
      border:1px solid brown;
      color:brown;
      background-color: white;
    }
    .headbar{
      background-color: #647af5;
     
    }

.loginbtn{
  color: white;border: 1px solid white;
  visibility: hidden;
}

    .loginbtn:hover{
background-color: white;
color:#647af5;
    }

    .cpybtn{
      background-color: #1c1c1d;
      border:none;
      color:whitesmoke;
      padding: 5px;
      width:100%;
      border-radius: 5px;
    }
</style>
</html>